<!DOCTYPE html>
<html lang="ru">

<head>
  
  <title>Videocards</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="assets/favicon.ico" type="image/png">

  <!-- escape | in url query with %7C . See more https://developer.donnoval.ru/w3cvalidation/ -->
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600%7CMontserrat&amp;display=swap" rel="stylesheet"> 

  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="css/aos.css">
  <link rel="stylesheet" href="css/style.css">
  
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    
    <div class="header-top">
      <div class="container">
        <div class="d-flex">
          <div class="p-2 flex-grow-1">
            <a href="index.html" class="site-logo mx-auto d-block">
              <img src="assets/logo.png" alt="Image" class="img-fluid">
            </a>
          </div>
          <div class="p-2 align-self-center d-md-none">
            <a href="#" class="ml-auto d-block site-menu-toggle js-menu-toggle text-black">
              <span class="icon-menu h1"></span>
            </a>
          </div>
        </div>


      </div>
      
      <div class="site-navbar py-2 js-sticky-header site-navbar-target d-none pl-0 d-md-block" role="banner">

        <div class="container">
          <div class="d-flex align-items-center">
            
            <div class="mx-auto">
              <nav class="site-navigation position-relative text-left">
                <ul class="site-menu main-menu js-clone-nav mx-auto d-none pl-0 d-md-block border-none">
                  <li class="active"><a href="index.html" class="nav-link text-left">Главная</a></li>
                  <li><a href="#products" class="nav-link text-left">Всё в наличии</a></li>
                  <li><a href="#feedback" class="nav-link text-left">Отзывы</a></li>
                  <li><a href="#footer" class="nav-link text-left">Контакты</a></li>
                </ul>                                                                                                                                                                                                                                                                                         
              </nav>

            </div>
           
          </div>
        </div>

      </div>
    
    </div>

    
    <div class="owl-carousel hero-slide owl-style">
      <div class="intro-section container" style="background-image: url('assets/hero_1.jpg');">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <span class="sub-title">Новайшая версия</span>
            <h1>Мощнейшие видеокарты</h1>
          </div>
        </div>
      </div>

      <div class="intro-section container" style="background-image: url('assets/hero_2.jpg');">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <span class="sub-title">Добро пожаловать</span>
            <h1>новейшие карты</h1>
          </div>
        </div>
      </div>

    </div>
    
    
    <div><a id="products"></a></div>
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-12 section-title text-center mb-5">
            <h2 class="d-block">Видеокарты в наличии</h2>
            <p>Видеокарта - один из основных элементов современного компьютера, без неё можете забыть о качественной работе с графикой.
            </p>
          </div>
        </div>
    {% for category, wines in winecards.items() %}
      <div class="col-12 section-title text-center mb-5">
        <h2 class="d-block">{{category}}</h2>
        <div class="row">
        {% for bottle in wines %} 
          <div class="col-lg-4 mb-5 col-md-6">
            <div class="wine_v_1 text-center pb-4 pt-5">
              <img src="images/{{bottle.Картинка}}" alt="Image" class="img-fluid">
              {% if bottle.Акция %}
                <img src="assets/profitable.png" style="width:10rem;height: 10rem;position:absolute;right: -20px;top: -20px;">
              {% endif %}
              <div>
                <h3 class="heading mt-3 mb-3 text-dark">{{bottle.Название}}</h3>
                <p>
                  {% if bottle.Сорт %}
                    Сорт винограда - {{bottle.Сорт}}<br/>
                  {% endif %}
                  <span class="price">{{bottle.Цена}} $.</span>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
    </div>

    <div class="hero-2" style="background-image: url('assets/hero_2.jpg');">
    <div><a id="feedback"></a></div>
     <div class="container">
        <div class="row justify-content-center text-center align-items-center">
          <div class="col-md-8">
            <h2 style="font-size: 3rem;">проверено всем чем только можно</h2>
            <span class="sub-title" style="font-size: 2.5rem;">Уже {{winery_age}} лет с вами</span>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="owl-carousel owl-slide-3 owl-slide">
        
          <blockquote class="testimony">
            <img src="assets/person_1.jpg" alt="Фото">
            <p>&ldquo;Самый лучший магазин в этом питомнике, выгодные цены,
              а также большое количество видеокарт, то есть есть из чего выбирать. Зарабатывала бы я вдвое больше - весь магазин выкупала бы.&rdquo;</p>
            <p class="small text-primary">&mdash; Карина Стримерша</p>
          </blockquote>
          <blockquote class="testimony">
            <img src="assets/person_2.jpg" alt="Фото">
            <p>&ldquo;Видеокарта чуть не сгорела, однако я сам виноват, что взял блок питания от aerocool,
              а ещё поместил компьютер в пещеру.&rdquo;</p>
            <p class="small text-primary">&mdash; Никокадо Авокадо</p>
          </blockquote>
          <blockquote class="testimony">
            <img src="assets/person_3.jpg" alt="Фото">
            <p>&ldquo;Всё чётко и как надо, рекомендную&rdquo;</p>
            <p class="small text-primary">&mdash; Владик228 1337</p>
          </blockquote>
       
        </div>
      </div>
    </div>
  

    
    <div class="footer">
      <div><a id="footer"></a></div>
      <div class="container">
        
        <div class="row">
          <div class="col-12 text-center">
            <div class="social-icons">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-youtube"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="copyright">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Кто сделал и когда? &copy;<script>document.write(new Date().getFullYear());</script> Это всё сделано мной, да-да. <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://t.me/bienietvoegoserdca" target="_blank" >тык</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>



            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>
  <!-- .site-wrap -->


  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#ff5e15"/></svg></div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
